@media (max-width: 800px){
    .logo>div>img{
        width: 300px;
    }

    .welcome{
        font-size: 2.5rem;
        text-align: center;
    }

    .news>ul>li{
        font-size: 0.75rem;
        margin: 0px 0px 10px 0px;
    }

    .news{
        width: 120px;
    }
    .content{
        display: flex;
        flex-direction:column;
        flex-grow: 1;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }

}